.navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5rem;
    margin-bottom: 3.5rem;
    color: white;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
}

.links ul{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

li button {
    background-color: #2CD3E1;
    outline: none;
    border: 1px solid #181823;
    border-radius: 7px;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-weight: 500;
    padding: 8px 10px;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: 0.2s ease-in;
}

@media screen and (max-width:720px) {
    .navbar {
        margin-left: 10px;
        margin-right: 10px;
    }
    .logo {
        font-size: 1.2rem;
    }

    .links ul {
        font-size: 1rem;
    }

    li button {
        font-size: 0.8rem;
        padding: 6px 6px;
    }
}
