.div-container {
    background-color: rgba(36, 36, 36, 1);
    padding: 3rem 0.2rem 0rem 0.2rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    max-width: 100%;
}

.div-container .value {
    color: white;
    width: 100%;
    font-weight: 500;
    margin-top: -19px;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.btns button {
    background-color: #537FE7;
    outline: none;
    border: 1px solid #181823;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 10px 18px;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: 0.2s ease-in;
}

.btns button:hover {
    font-size: 20px;
}

.bars {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: space-around;
}

.noofbars,
.barspeed {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.noofbars label,
.barspeed label {
    font-size: 18px;
    margin-top: 0.5rem;
    color: rgba(255, 253, 253, 0.907);
    font-weight: 600;
}

.noofbars input,
.barspeed input {
    width: 200%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #537FE7;
    border: 1px solid #181823;
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 23px;
    margin-top: -9px;
    background-color: #2CD3E1;
    height: 1.5rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #00684A;
    outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
    background-color: #537FE7;
    border: 1px solid #181823;
    border-radius: 0.5rem;
    border-radius: 50%;
    height: 0.5rem;
}


input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 23px;
    background-color: #ECF8F9;
    border-radius: 50%;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #00684A;
    outline-offset: 0.125rem;
}

.div-bar {
    width: 18px;
    margin: 0 1.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-flex;
    background-color: rgba(0, 157, 255, 0.8);
}

.div-table {
    width: 30%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-table h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: white;
}

.table {
    border-collapse: collapse;
}

.div-table tr td {
    border-left: 2px solid #00ED64;
}

.div-table tr td,
.div-table tr th {
    border-bottom: 2px solid #00ED64;
    color: white;
    padding: 0.8rem 1rem;
    font-size: 20px;
}

@media screen and (max-width: 1080px) and (min-width:721px) {
    .div-container .value {
        margin-top: -10px;
        text-align: center;
        font-size: 0.5rem;
    }

    .div-bar {
        width: 8px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .bars {
        gap: 15%;
    }

    .noofbars input,
    .barspeed input {
        width: 120%;
    }

    .div-table {
        width: 90%;
    }

}

@media screen and (max-width: 720px) {

    .noofbars input,
    .barspeed input {
        width: 90%;
    }

    .div-container .value {
        margin-top: -10px;
        text-align: center;
        font-size: 0.45rem;
    }

    .div-bar {
        width: 8px;
        margin: 0 0.5px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .div-table {
        width: 90%;
    }
}